.ui.item.menu .item {
  padding-left: 16px !important;
}

.ui.list > .item:after {
  display: none;
}

.ui.segment:last-child {
  margin-bottom: 14px;
}

.diary-date {
  font-family: 'montserrat-bold';
  font-size: 20px;
  color: #16325c;
  margin: 0px 48px;
}

.diary-submenu {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'montserrat-bold';
  font-size: 20px;
  color: #16325c;
}

.diary-day {
  font-weight: 700;
  font-size: 18px;
}

.diary-food-goal-edit {
  margin-left: 10px;
  cursor: pointer;
}

.diary-food-goal-label {
  line-height: 0px;
}

.diary-food-goal-label-input > input {
  background-color: transparent !important;
  padding: 0px !important;
  border: none !important;
  border-bottom: 1px dashed #fff !important;
  border-radius: 0px !important;
  text-align: center !important;
  color: white !important;
  font-size: 14px;
  font-family: 'montserrat-semibold' !important;
}

.diary-food-goal-kcal {
  font-family: 'montserrat-semibold';
  font-size: 14px;
}

.diary-food-goal-unit {
  font-family: 'montserrat-light';
  font-size: 14px;
  margin-left: 3px;
}

.diary-social-wrapper {
  display: flex;
  justify-content: flex-end;
}

.diary-social {
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.diary-food-addBtn {
  transition: all 0.2s ease-in !important;
  box-shadow: none !important;
  bottom: 0px !important;
}

.diary-food-addBtn:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 1.5px dashed #16325c !important;
  bottom: 2px;
  position: relative;
}

.diary-food-meal {
  margin-bottom: 14px;
}

.diary-food-label {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 7px 0px;
  align-items: center;
}

.diary-food-meal-count {
  padding-left: 12px;
}

.diary-food-title {
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
}

.diary-food-search {
  display: inline-block;
  width: 100%;
}

.diary-food-search > div {
  width: 100%;
}

.diary-food-search > div > .prompt {
  border-radius: 4px !important;
}

.diary-food-search > input,
.diary-fitness-search > input {
  border-radius: 4px !important;
}

.diary-food-search div:nth-child(2) {
  display: block !important;
}

.ui.search > .results {
  position: relative;
  width: 107%;
  box-shadow: none;
  border: none;
}

.diary-camera-icon {
  cursor: pointer;
}

.diary-food-search-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary-food-search-label-result {
  display: flex;
  align-items: center;
}

.diary-food-search-label-result-title {
  font-weight: 700;
  padding-right: 26px;
  font-size: 14px;
}

.diary-food-search-label-result-kcal {
  font-weight: 700;
  font-size: 14px;
}

.diary-food-search-label-result-input {
  display: flex;
  align-items: center;
}

.diary-food-search-label-result-calculateKcal {
  font-family: 'montserrat-semibold';
  font-size: 28px;
  color: #16325c;
}

.diary-food-search-label-result-unit {
  font-weight: 300;
  padding-left: 7px;
  font-size: 14px;
  color: #16325c;
}

.diary-food-search-label-result-wrapper {
  display: flex;
  align-items: baseline;
}

.diary-food-search-photo-modal-upload-icon {
  height: 56px;
  margin-bottom: 14px;
  filter: grayscale(100%);
  opacity: 0.5;
}

.diary-food-search-photo-modal-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.diary-food-calculateIcon {
  padding: 0px 14px;
}

.diary-food-meal-list-card {
  display: flex;
  position: absolute;
}

.diary-food-meal-list-card-icon {
  margin-left: 10px;
  cursor: pointer;
}

.diary-food-meal-list-scroll {
  overflow: auto;
  height: 163px;
  position: relative;
  margin-bottom: 7px;
}

.diary-food-meal-list-scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  /* display: none; */
}

.diary-food-meal-list-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a8b7c7;
}

.diary-food-meal-list-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e0e5ee;
}

.diary-food-meal-list-card-firstRow {
  display: flex;
  justify-content: space-between;
}

.diary-food-meal-list-card-firstRow-title {
  font-size: 21px;
  font-weight: 300;
  color: #16325c;
  margin-bottom: 35px;
}

.diary-food-meal-list-card-calory {
  font-family: 'montserrat-semibold';
  font-size: 21px;
  letter-spacing: -1px;
  color: #54698d;
  margin-bottom: 0px;
}

.diary-food-meal-list-card-calory-unit {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -1px;
  color: #54698d;
  margin-left: 8px;
}

.diary-food-meal-list-card-nutritions {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  padding-left: 7px;
  border-left: 1px solid #e0e5ee;
}

.diary-food-meal-list-card-nutrition-title {
  font-weight: 300;
  font-size: 14px;
  color: #54698d;
  margin-right: 7px;
}

.diary-food-meal-list-card-nutrition-kcal {
  font-family: 'montserrat-semibold';
  font-size: 14px;
  color: #54698d;
}

.diary-food-album {
  padding: 21px 0px;
}

.diary-food-album-list-scroll {
  overflow: auto;
  height: 210px;
  position: relative;
}

.diary-food-album-list-scroll::-webkit-scrollbar {
  display: none;
}

.diary-food-album-list-card-edit-modal > div {
  padding: 9px 14px;
  font-size: 14px;
}

.diary-file-upload {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.diary-file-upload__label {
  display: block;
  padding: 10px;
  color: #a8b7c7;
  border: 1px dashed #a8b7c7;
  border-radius: 4px;
  transition: all 0.5s ease;
  line-height: 14px;
}

.diary-file-upload__label:hover {
  cursor: pointer;
  color: #29323c;
  border: 1px dashed #29323c;
}

.diary-file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}

.diary-food-meal-file-upload__label {
  display: block;
  padding: 63px;
  color: #a8b7c7;
  border-radius: 4px;
  transition: all 0.5s ease;
  line-height: 14px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.diary-food-meal-file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}

.diary-fitness-search > input {
  width: 100%;
}

.diary-image-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
