.diary-grid {
    width: 1200px;
    margin: 0 auto;
}


/* 기존 semantic style이 덮어씌어지지 않아서, 해당 스타일을 변경함.
 * 현재 다른 페이지에서 탭을 사용하지 않았기 때문에 영향을 주지 않을 것이라고 판단
 */

.ui.item.menu .item {
    padding-left: 16px !important
}

.ui.list>.item:after {
    display: none;
}

.diary-date {
    font-family: 'montserrat-bold';
    font-size: 20px;
    color: #16325c;
    margin: 0px 48px;
}

.diary-submenu {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat-bold';
    font-size: 20px;
    color: #16325c;
}

.diary-day {
    font-weight: 700;
    font-size: 18px;
}

.diary-food-addBtn {
    transition: all 0.2s ease-in !important;
    box-shadow: none !important;
    bottom: 0px !important;
}

.diary-food-addBtn:hover {
    box-shadow: rgba(79, 64, 64, 0.2) 0px 2px 5px 0px !important;
    bottom: 2px;
    position: relative;
}

.diary-food-meal {
    margin-bottom: 14px;
}

.diary-food-label {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;
}

.diary-food-meal-count {
    padding-left: 12px
}

.diary-food-title {
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
}

.diary-food-search {
    display: inline-block;
    width: 100%;
}

.diary-food-search>div {
    width: 100%;
}

.diary-food-search>div>.prompt {
    border-radius: 4px !important;
}


/* .diary-food-search div:nth-child(2) {
    background-color: red !important;
    z-index: 0 !important
} */

.ui.search>.results {
    position: relative;
    width: 107%;
    box-shadow: none;
    border: none;
}

.diary-camera-icon {
    border-style: none;
    top: 20px;
    position: absolute;
    cursor: pointer
}

.diary-food-search-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diary-food-search-label-result {
    display: flex;
    align-items: center;
}

.diary-food-search-label-result-title {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    padding-right: 26px;
    font-size: 14px;
}

.diary-food-search-label-result-kcal {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    font-size: 14px;
}

.diary-food-search-label-result-input {
    display: flex;
    align-items: center;
}

.diary-food-search-label-result-calculateKcal {
    font-family: 'montserrat-semibold';
    font-size: 28px;
    color: #16325c;
}

.diary-food-search-label-result-unit {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    padding-left: 7px;
    font-size: 14px;
    color: #16325c;
}

.diary-food-calculateIcon {
    padding: 0px 14px;
}

.diary-food-search-label-result-wrapper {
    display: flex;
    align-items: baseline;
}
