.diary-grid {
    width: 1200px;
    margin: 0 auto;
}


/* 기존 semantic style이 덮어씌어지지 않아서, 해당 스타일을 변경함.
 * 현재 다른 페이지에서 탭을 사용하지 않았기 때문에 영향을 주지 않을 것이라고 판단
 */

.ui.item.menu .item {
    padding-left: 16px !important
}
