video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: grayscale(100%);
}

.login {
    width: 1200px;
    left: 50%;
    margin: 0 auto;
    padding: 10px;
}

.login-socialBtns {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 170px;
    font-family: 'montserrat-bold', sans-serif;
}
