.weight-grid {
    width: 1200px;
    margin: 0 auto;
}

.weight-current-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
    height: 166px;
    justify-content: space-between;
}

.weight-current {
    font-family: 'montserrat-semibold';
    font-size: 70px;
    color: #16325c;
}

.weight-unit-kg {
    padding-left: 3px;
    font-family: 'montserrat-semibold';
    font-size: 28px;
    color: #16325c;
}

.ui.list>.item:after {
    display: none;
}
