.navigation {
  height: 56px;
}

.navigation-logo {
  height: 30px;
  font-size: 25px;
  font-family: 'montserrat-bold', sans-serif;
  text-align: left;
  color: #16325c;
}

.navigation-item {
  height: 20px;
  font-size: 14px;
  /* font-weight: 200; */
  letter-spacing: -0.7px;
  color: #16325c;
}

.navigation-avatar {
  width: 34px;
  height: 34px;
  margin: 12px 18px 10px 47px;
}

.navigation-username {
  width: 37px;
  height: 17px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.7px;
  text-align: right;
  color: #16325c;
  margin: 20px 129px 20px 0px;
}
