<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    title Auth 페이지
  body
    div auth page
    p: a(href='/auth/naver') naver으로 로그인
    p: a(href='/auth/kakao') kakao로 로그인
    p: a(href='/auth/facebook') facebook으로 로그인
    p: a(href='/auth/instagram') instagram으로 로그인
