<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    title Vision api 디버그페이지
  body
    div
      img(style={'max-width': '50%'} src=imgUrl)
      p vision : #{visionAnalysis}
      p imgurl : #{imgUrl}
