<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    title Vision api 디버그페이지
  body
    div
      form(method='post' action='/vision' enctype="multipart/form-data")
        input(type='file' name='upload_img')
        input(type='submit' value='전송')
