.report-chart {
    box-sizing: border-box;
    position: relative;
    width: 800px;
    height: 238px;
    padding-bottom: 1px;
}

.report-chart__lines,
.report-chart__x-value {
    color: #666666;
    font-weight: 500;
}

.report-chart__lines {
    list-style-type: none;
    width: 850px;
    height: 260px;
    position: absolute;
    bottom: 25px;
}

.report-chart__lines li {
    box-sizing: border-box;
    padding-top: 8%;
    height: 25%;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.report-chart__x-value {
    text-align: center;
    position: absolute;
    bottom: -25px;
    left: 18%;
}


/********************************/

.report-chart__bar-series {
    width: 850px;
    height: 300px;
    position: absolute;
    left: 40px;
    bottom: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.report-chart__bar-series li {
    display: inline-block;
    width: 120px;
    height: 300px;
    padding: 0;
    margin: 0;
    position: relative;
}

.report-chart__bar-series li:before {
    content: '';
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: bottom;
}

.report-graph-bar {
    display: inline-block;
    vertical-align: bottom;
    width: 34px;
    padding: 0;
    margin: 0;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    left: 16px;
    background-color: #16325C;
}

.report-notes {
    position: absolute;
    background-color: #404a58;
    padding: 7px 21px;
    top: -45px;
    border-radius: 2px;
    font-size: 13px;
    display: none;
    color: white;
}

.report-notes::after {
    content: '';
    position: absolute;
    right: 18px;
    bottom: -18px;
    border: 10px solid transparent;
    border-top: 10px solid #404a58;
}

.report-bar-1 {
    height: 48px;
    position: relative;
}

.report-bar-2 {
    height: 60px;
}

.report-bar-3 {
    height: 119px;
}

.report-bar-4 {
    height: 158px;
}

.report-bar-5 {
    height: 130px;
}

.report-bar-6 {
    height: 170px;
}

.report-bar-7 {
    height: 145px;
}

.report-graph-bar:hover .report-notes {
    display: block;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.report-pullUp {
    animation-name: pullUp;
    animation-duration: 1.1s;
    -webkit-animation-duration: 1.1s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

@keyframes report-pullUp {
    0% {
        transform: scaleY(0.1);
    }
    50% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes report-slideUp {
    0% {
        transform: translateY(30%);
    }
    50% {
        transform: translateY(-20%);
    }
    65% {
        transform: translateY(20%);
    }
    80% {
        transform: translateY(-10%);
    }
    95% {
        transform: translateY(0%);
    }
}
