.search-grid-center {
  text-align: center;
  position: relative;
  top: 195px;
}

/* .search-searchbar {
  width: 581px;
  height: 41px;
  border-radius: 100px;
  background-color: #ffffff;
  border: solid 1px #e0e1e2;
} */
