.weight-progress-start,
.weight-progress-end {
  font-family: 'montserrat-semibold';
  font-size: 28px;
  color: #16325c;
}

.weight-progress-unit-kg {
  padding-left: 3px;
  font-family: 'montserrat-semibold';
  font-size: 14px;
  color: #16325c;
}

.weight-progress-label {
  font-weight: 300;
  font-size: 18px;
  color: #16325c;
}

.weight-progress {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0px 77px;
}

.weight-progress-bar-start,
.weight-progress-bar-end {
  width: 15%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  z-index: 1;
}

.weight-progress-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.weight-progress-bar-flag {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  width: 76%;
  left: 10%;
}

.weight-progress-bar-rec {
  width: 562px;
  height: 2px;
  background-image: linear-gradient(to right, #1a2980, rgba(38, 208, 206, 0));
}

.weight-progress-bar-center {
  height: 10px;
  width: 2px;
  background-color: #1a2980;
  position: absolute;
  left: 50%;
}
